qidgateway/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:servlet="http://www.mulesoft.org/schema/mule/servlet"
	  xmlns:restlet="http://www.mulesource.org/schema/mule/restlet/2.1"
	  xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/servlet http://www.mulesoft.org/schema/mule/servlet/current/mule-servlet.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
	    http://www.mulesource.org/schema/mule/restlet/2.1 http://www.mulesource.org/schema/mule/restlet/2.1/mule-restlet.xsd
	    http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.3/mule-json.xsd">


    <description>
    This configuration uses an HTTP endpoint to receive requests.
    </description>

    <!--
    To invoke the Hello service over HTTP, hit the following URL in your browser:

        http://localhost:8888?name=Ross

    To invoke the Hello service via a Servlet, submit a web form such as:

        <form method="POST" action="/mule-examples/rest?endpoint=greeter">
            <input type="text" name="payload"/>
            <input type="submit" value="POST" />
        </form>
        
        
        http://localhost:8081/qid/lookup?company=&name=&contactId=123456789012&picture=&
        note=&emailAddresses=%5B%5D&addresses=%5B%5D&isCompany=false&phoneNumbers=%5B%5D
    -->

	
    <flow name="searchstart" doc:name="start">
        
            <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8888" doc:name="Http Endpoint"/>
    	
        <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
        <flow-ref name="process_sf_searchrequest" doc:name="Process request"/>
        <catch-exception-strategy>
        	<logger level="ERROR" message="#[payload]" doc:name="Log Error"/>
        </catch-exception-strategy>
    </flow>

<flow name="searchstart_vm" doc:name="searchstart_vm">
		<vm:inbound-endpoint exchange-pattern="request-response" path="searchstart" doc:name="VM Endpoint"/>
		<flow-ref name="process_sf_searchrequest" doc:name="Process request"/>
	</flow>

    <sub-flow name="process_sf_searchrequest">
	    <component class="se.streamsource.qidintegration.QueryStringToQidQuery" doc:name="toQidQuery"/>
	    <flow-ref name="qid_invocation"/>
	
<!-- 	<catch-exception-strategy> -->
<!--         	<logger level="ERROR" message="#[payload]" doc:name="Log Error"/> -->
<!--         </catch-exception-strategy> -->
	     
<!--         <component class="org.mule.example.hello.Greeter" doc:name="Greeter Component"/> -->
<!--         <choice doc:name="Choice"> -->
<!--             <when expression="payload instanceof org.mule.example.hello.NameString" evaluator="groovy"> -->
<!--                 <processor-chain> -->
<!--                 	<flow-ref name="ChitChat" doc:name="Process ChitChat"/> -->
<!--                 </processor-chain> -->
<!--             </when> -->
<!--             <when expression="payload instanceof java.lang.Exception" evaluator="groovy"> -->
<!--                 <processor-chain> -->
<!--                 	<logger level="ERROR" message="#[payload]" doc:name="Error Log"/> -->
<!--                 </processor-chain> -->
<!--             </when> -->
<!--         </choice> -->
    </sub-flow>
    
    <sub-flow name="qid_invocation">
        <http:outbound-endpoint address="http://localhost:8082/qid-simulator?id=12344524643"  method="GET"   exchange-pattern="request-response" />
        <object-to-string-transformer />
        <component class="se.streamsource.channel.qidintegration.ContactParser"/>
        <json:object-to-json-transformer  
     sourceClass="se.streamsource.channel.transport.ContactValue"/>
        <!--  transformer ref="ContactParser"></transformer-->
<!-- 		<catch-exception-strategy> -->
<!--         	<logger level="ERROR" message="#[payload]" doc:name="Log Error"/> -->
<!--         </catch-exception-strategy> -->
	
    </sub-flow>
    

<!--     <sub-flow name="ChitChat" doc:name="ChitChat"> -->
<!--     	<transformer ref="NameStringToChatString" doc:name="Transform NameString to ChatString"/> -->
<!--         <component class="org.mule.example.hello.ChitChatter" doc:name="ChitChatter component"/> -->
<!--         <transformer ref="ChatStringToString" doc:name="Transform ChatString to String"/> -->
<!--     </sub-flow> -->
</mule>
